@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');


body {
  margin: 0;
}

/* Navbar */

.navbar-ul {
  font-family: 'Space Grotesk', sans-serif;
  font-weight:600;
}

.navbar-li {
  padding: 16px;
}

.navbar-li:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.drawer-li {
  padding: 8px;
}

/* Landing Page */

.landing-page {
  font-family: "Space Grotesk", sans-serif;
}

.page-heading {
  font-weight: 600;
}

.page-content {
  font-weight: 400;
}

.page-footer {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.second-half {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
}