@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body {
  margin: 0;
}

/* Navbar */

.navbar-ul {
  font-family: 'Space Grotesk', sans-serif;
  font-weight:600;
}

.navbar-li {
  padding: 16px;
}

.navbar-li:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.drawer-li {
  padding: 8px;
}